<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>cobertura</Format>
					<Exclude>
						[MarcasAutosApi..Migrations.]*
						[MarcasAutosApi..Entities.]*
						[MarcasAutosApi..Dtos.]*
						[MarcasAutosApi..Repositories.]*
						[MarcasAutosApi..Data.]*
						[MarcasAutosApi.Program]*
					</Exclude>
					<ExcludeByFile>
						*/Migrations/.cs
						*/Entities/.cs
						*/Dtos/.cs
						*/Repositories/.cs
						*/Data/.cs
						**/Program.cs
					</ExcludeByFile>
					<ExcludeByAttribute>
						ExcludeFromCodeCoverageAttribute
					</ExcludeByAttribute>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>